body {
    width: 100%;
    background: #443b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
}

.calc-box {
    background: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #222;
    width: 280px;

}

.display {
    width: 95%;
    height: 60px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 38px;
    padding: 10px;
    background: #f2f2f2;
    box-shadow: inset 2px 2px 5px #aaa;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

button {
    height: 70px;
    border: none;
    border-radius: 100%;
    background: #6D6D6D;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 4px 4px 4px #000;
}

button:active {
    transform: scale(0.95);
}

.op {
    font-size: 30px;
    background: #FFB800;
    color: white;
}

.clear {
    background: red;
    color: white;
    font-weight: bold;
}

.equal {
    background: #AEAEAE;
    color: white;
    font-weight: bold;
}

.history-btn {
    height: 50px;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    background: orange;
    border: none;
    color: white;
    cursor: pointer;
}

.history-btn:hover {
    color: #000;
    background: darkorange;
}

.history-box {
    margin-top: 10px;
    padding: 10px;
    max-height: 120px;
    overflow-y: auto;
    background: #1a1a1a;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}